* {	
	padding: 0px;
	margin: 0px;
}

html{

}
body {
 	padding: 0;
 	margin: 0;
 	background: rgba(228, 238, 218, 0.9);
}

.infinitos-malvados {
	padding: 20px;
	max-width: 669px;
	max-height: auto;
	background: rgba(255, 255, 255, 0.6);
	border: 1px solid black;
	margin: auto;
}	

.um-malvados {
	margin-top: 30px;
	display: block;
}